/* basic setting */
$white: #fff;
$main-blue: #001935;
$secondary-blue: #3c88fd;
$freedom-blue: #02b8ff;
$dark-gray: #4a4a4a;
$light-gray: #a7aaaf;

$btn-color:#FF6600;
$reply-account: #FF6600;
$navPills-active: #FF6600;
$nav-active: #FF6600; 
$title-color: #1C1C1C;
$input-title: #657786;
$account: #657786;
$follow-text: #657786;
$navPills: #657786;
$router-link:#0099FF;
$popular-bg:#E6ECF0;
$null-avatar:#C4C4C4;
$input-bg: #F5F8FA;
$tweet-border: #E6ECF0;