@mixin getStepNums($num){
  @for $i from 1 through $num {
      &:nth-child(#{$i}) .circle__container::after{
        content:"#{$i}";
      }
    }
}

@mixin overflow-line-clamp($line){
  display:-webkit-box; 
  -webkit-box-orient: vertical;
  -webkit-line-clamp: $line; /* 限定行數 */  
  overflow: hidden; /*多的字隱藏起來 */ 
}