@import './color';

/* reset css */
*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background-color: #fff;
  font-family: "Noto Sans TC";
  margin: 0;
  padding:0;

}

h1,
h2,
h3,
h4,
h5,
p  {
  margin: 0;
  padding: 0;
}

ul,
ol,
li {
  list-style-type: none; 
  margin: 0;
  padding: 0;
}

a{
  text-decoration: none;
  color: #000;
}

.table td,
.table th {
  vertical-align: middle;
}

img {
  width: 100%;
  height: 100%;
  display: block;
}

button {
  background: #ff6600;
  border-radius: 50px;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  border: none;
  transition: all 0.3s ease-in-out;
}

button:hover {
  background-color: #f75000;
}

button[disabled] {
  pointer-events: none;
}

.btn,
button,
button:focus,
input:focus,
textarea:focus,
select,
select:focus,
a:focus {
  outline: 0px !important;
}

input {
  padding: 0;
}

input:required {
  box-shadow: none;
}

input:invalid {
  box-shadow: none;
}

.d-none {
  display: none;
}

.d-inline {
  display: inline;
}

.d-inline-block {
  display: inline-blockt;
}

.d-block {
  display: block;
}

.d-flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.justify-content-start {
  justify-content: flex-start;
}

.justify-content-end {
  justify-content: flex-end;
}

.justify-content-center {
  justify-content: center;
}

.justify-content-between {
  justify-content: space-between;
}

.justify-content-around {
  justify-content: space-around;
}

.align-content-start {
  align-content: flex-start;
}

.align-content-end {
  align-content: flex-end;
}

.align-content-center {
  align-content: center;
}

.align-items-start {
  align-items: flex-start;
}

.align-items-end {
  align-items: flex-end;
}

.align-items-center {
  align-items: center;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
}

.cursor-pointer {
  cursor: pointer;
}

.swal2-popup.swal2-toast {
  box-shadow: none;
  border: 1px solid #dadada;
}

::-webkit-scrollbar {
  /* make scrollbar transparent */
  width: 0px;
  background: transparent;
}

.scrollbar {
  overflow-y: scroll;
  &::-webkit-scrollbar{
    width: 6px;
  }
  &::-webkit-scrollbar-thumb {
      border-radius: 3px;
      background-color: rgba(0, 0, 0, 0.1);
    }
}


$sizes: (
  25: 25%,
  50: 50%,
  75: 75%,
  100: 100%
);

/* 使用@each 產出css size設定 */
@each $prop , $abbrev in (width: w , height: h){
  @each $num , $val in $sizes{
    .#{$abbrev}-#{num}{
      #{$prop} : $val;
    }
  }
}

$spacer: 1rem;
$spacers: (
  0: 0,
  1: (
    $spacer * 0.25
  ),
  2: (
    $spacer * 0.5
  ),
  3: (
    $spacer * 0.75
  ),
  4: $spacer,
  5: (
    $spacer * 1.25
  ),
  6: (
    $spacer * 1.5
  ),
  7: (
    $spacer * 1.75
  ),
  8: (
    $spacer * 2
  )
);

/* 使用@each 產出css spacer設定 */
@each $prop , $abbrev in ( padding: p , margin: m){
  @each $num , $val in $spacers{
    .#{$abbrev}t-#{$num}{
      #{$prop}-top: $val;
    }
    .#{$abbrev}b-#{$num}{
      #{$prop}-bottom: $val;
    }
    .#{$abbrev}r-#{$num}{
      #{$prop}-right: $val;
    }
    .#{$abbrev}l-#{$num}{
      #{$prop}-left: $val;
    }
    .#{$abbrev}x-#{$num}{
      #{$prop}-left: $val;
      #{$prop}-right: $val;
    }
    .#{$abbrev}y-#{$num}{
      #{$prop}-top: $val;
      #{$prop}-bottom: $val;
    }
  }
}